@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.eot'),
  url('../fonts/PressStart2P-Regular.ttf') format('truetype'),
  url('../fonts/PressStart2P-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #81A1C3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  line-height: 160%;
}

/* ---------- utils */

.hide {
  display: none;
}
.wrapper {
  max-width: 500px;
  text-align: center;
  padding: 20px;
}
.button {
  background-color: white;
  box-shadow: 0 4px 0 0 black;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  line-height: initial;
}
.btn-big {
  padding: 1.25em 2.5em;
}
.btn-small {
  padding: .75em 1.25em;
}
.headline {
  font-size: 1.5em;
  line-height: 120%;
}

/* ---------- welcome screen */

.welcome-main {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.team-picture {
  width: 100%;
  height: 200px;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.team-picture-img {
  display: inline-block;
  width: 100%;
}
.welcome-signature {
  font-size: .875em;
  margin: 2.5em 0 3.5em;
}

/* ---------- select screen */

.choose-avatar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 200px;
}
.avatar {
  width: 100%;
  height: 50px;
  background-color: burlywood;
}
.avatar[data-green] {
  background-color: lightgreen;
}
.avatar[data-red] {
  background-color: lightcoral;
}
.avatar[data-yellow] {
  background-color: gold;
}
.avatar[data-reinier] {
  background-color: lightskyblue;
}
.avatar-focus {
  border: 2px solid black;
}

/* ---------- game */

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.score-body {
  flex-direction: column;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.controls {
  position: absolute;
  bottom: 5vh;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
}

.end-screen,
.start-screen {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 204, 137, 0.7);
  padding: 10px 20px;
  /* font-size: 5vmin; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ground {
  --left: 0;
  position: absolute;
  /* this width value is being referred to in ground.js */
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  --height: 30;
  position: absolute;
  left: 1%;
  height: calc(var(--height) * 1%);
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.ptero {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 20%;
}

.replay {
  cursor: pointer;
  text-decoration: underline;
}
.replay:hover {
  color: brown;
}

/* ---------- scoreboard */

.scoreboard {
  border-collapse: collapse;
}
.scoreboard th,
.scoreboard td {
  border: 1px solid gray;
  padding: 5px 10px;
}
.scoreboard th {
  background-color: linen;
}
.score-highlighted {
  background-color: burlywood;
}